@import url("https://fonts.google.com/css2?family=Poppins:wght!@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: url("../assets/images/indaloBG.jpeg") no-repeat;
  /* background-color: black; */
  color: white;
  background-size: cover;
  background-position: center;
}

/* Navigation */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;

}

.logo {
  font-size: 2em;
  color: #fff;
  user-select: none;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color:#fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color:#fff ;
  border-radius: 5px;
  left: 0;
  bottom: -6px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.navigation .btnLogin-popup {
  width: 130px;
  height: 50px;
  background-color: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color:#fff;
  font-weight: 500;
  margin-left: 40px;
  transition: .5s;
}

.navigation .btnLogin-popup:hover {
  background-color: #fff;
  color: #333;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle span {
  height: 3px;
  width: 25px;
  background: #fff;
  margin: 4px 0;
  transition: .4s;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .navigation {
    position: absolute;
    top: 100%;
    right: 0;
    background: #333;
    flex-direction: column;
    width: 100%;
    display: none;
  }

  .navigation.show {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }

  .navigation a, .btnLogin-popup {
    padding: 15px;
    text-align: center;
    width: 100%;
    border-top: 1px solid #444;
  }
}

.wrapper {
  position: relative;
  height: 440px;
  width: 400px;
  color: #ffff;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(0);
  transition: transform .5s ease, height .2s ease;
}

.wrapper.active {
  height: 520px;
}

.wrapper.active-popup {
  transform: scale(1);
}


.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
} 

.wrapper .form-box{
  width: 100%;
  padding: 40px;
}

.wrapper .form-box.login {
  transition: transform .18s ease;
  transform: translateX(0);
}

.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px)
}

.wrapper.active .form-box.register {
  transition: transfrom .18s ease;
  transform: translateX(0);
}

.icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background-color: #AC7B3F;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.wrapper .form-box h2 {
  font-size: 2em;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
  border-bottom: 2px solid #333;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 600;
  color: #ffff;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.8em;
}

.input-box input::placeholder {
  color: #ffff;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  /* transform: translateY(-50%); */
  /* font-size: 20px; */
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: .9em;
  font-weight: 500;
  margin: -15px 0 15px;
  
}

.remember-forgot label input {
  accent-color: #AC7B3F;
  margin-right: 3px;
}

.remember-forgot a {
  color: #AC7B3F;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background-color: #AC7B3F;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  font-size: 1em;
  color: #fff;
  font-weight: 600;
}

.login-register {
  font-size: .9em;
  color: #fff;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color:#AC7B3F;
  text-decoration: none;
  font-weight: 600;
  transition: .5s;
}

.login-register p a:hover {
  text-decoration: underline;
}


